<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PaymentForLong_distanceCalls.Properties.Settings.PaymentForLong_distanceCallsConnectionString"
            connectionString="Data Source=DESKTOP-L9II8RV;Initial Catalog=PaymentForLong-distanceCalls;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>